.cbg {
  width: 20px;
  height: 70%;
  top: 23rem;
  background-color: #bac964;
  position: absolute;
}

.cwrapper {
  padding: 70px;
  display: flex;
}

.cleft {
  flex: 1;
}

.cright {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ctitle {
  font-size: 5rem;
  font-weight: 300;
}

.cinfoitem {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 200;
  width: 70%;
}

.para {
  font-size: 2rem;
  font-weight: 100;
  margin-left: 1.5rem;
  color: #bac964;
}

.cdesc {
  font-weight: 200;
}

/* form {
  margin-top: 20px;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: #59b256;
  color: white;
  font-weight: 500;
  cursor: pointer;
} */

@media screen and (max-width: 480px) {
  .cwrapper {
    flex-direction: column;
    padding: 0px 50px;
  }

  .ctitle {
    font-size: 30px;
  }

  .cinfoitem {
    margin: 20px 0px;
    width: 100%;
  }

  .cdesc {
    display: none;
  }

  /* form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }

  button {
    margin-top: 10px;
  } */
}
